ion-header {
    z-index: 0;
}

#profile-info {
    width: 100%;
    z-index: 2;
    text-align: center;
}

#profile-image {
    display: block;
    border-radius: 50px;
    width: 115px;
    height: 115px;
    margin: 12px auto 45px;
}

#profile-description {
    font-size: 22px;
    color: #1b1818;
    font-weight: 500;
}

#profile-name {
    font-size: 26px;
    font-weight: 700;
    margin-top: 8px;
}

.title {
    .sub-title {
        margin-bottom: 12px;
    }
}

#about-description {
    white-space: pre-line;
    font-size: 16px;
    color: #44444485;
    font-weight: 500;
    line-height: 25px;
}

.sub-title {
    strong {
        font-size: 26px;
        line-height: 41px;
    }
}

.group-actions {
    ion-button {
        --border-radius: 20px;
        height: 50px;
        margin: 10px;
        --box-shadow: none;
    }
}

.schedules {
    display: flex;
    align-items: baseline;

    .chip-months {
        --background: transparent;
    }
}

.group-week-day {
    margin: 6px;
    height: 60px;
    display: inline-grid;
    border-radius: 10px;
    padding: 8px;
    width: 45px;

    .week {
        font-weight: bold;
    }

    .day {
        color: var(--ion-color-secondary);
    }
}

.btn-time-appointment {
    ion-button {
        --box-shadow: none;
        --border-radius: 25px;
        height: 80px;
        font-size: 18px;
        font-weight: bold;
        margin: 25px;
    }

    .time {
        --background: #bec0c629;
        width: 80px;
        
    }

    .appointment {
        text-transform: capitalize;
        width: 200px;
    }
}
