.header {
  strong {
    font-size: 28px;
    line-height: 36px;
  }

  ion-avatar {
    --border-radius: 10px;
    width: 50px;
    height: 50px;
  }
}
.sub-title {
  padding: 16px;
  strong {
    font-size: 18px;
    line-height: 36px;
  }
}

.search {
  margin-top: 40px;
  display: flex;
  ion-input {
    background: var(--ion-color-light);
    border-radius: 10px;
    height: 45px;
    --padding-start: 16px;
    font-size: 12px;
  }

  ion-button {
    height: 45px;
    width: 50px;
    --border-radius: 30px 10px 10px 10px;
    order: 1;
  }
}

.list-doctors {
  padding: 16px;

  .status {
    width: 20px;
    background: green;
  }

  ion-thumbnail {
    --border-radius: 10px;
  }

  ion-item {
    --background: var(--ion-color-light);
    --border-radius: 10px;
    margin-bottom: 8px;
    // opacity: 0.7;
  }

  ion-item:first-child {
    --background: #f7be3021;
    opacity: none;
    opacity: 1;
  }
}

.card-categories {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background: var(--ion-color-light);
  border-radius: 10px;
  color: white;
  width: 110px;
  opacity: 0.8;

  ion-icon {
    font-size: 40px;
    margin-bottom: 8px;
  }
}
